:root {
	--black: #1a1a1a;
	--white: #fdfdfd;
	--red: #bb0000;
	--grey: #606060;
	--serif: "Georgia", serif;
	--sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--monospace: "Menlo", "Monaco", "Consolas", monospace;
}

/* main */
html {
	font-family: var(--serif);
	font-size: 20px;
	line-height: 1.5;
	color: var(--black);
	background-color: var(--white);
}

body {
	margin: 0;
	padding: 0;
}

main {
	margin: 0 auto;
	padding: 0 10px;
	max-width: 720px;
	word-wrap: break-word;
	hyphens: auto;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
}

/* paragraphs */
p {
	margin: 20px 0;
}

/* links */
a {
	color: inherit;
}

a:active {
	color: var(--red);
}

/* headings */
h1, h2, h3 {
	font-family: var(--sans-serif);
	margin: 20px 0;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1em;
}

/* (un)ordered lists */
ol,
ul {
	padding-left: 1.7em;
}

li > ol,
li > ul {
	padding-left: 1em;
}

img {
	max-width: 100%;
	height: auto;
	max-height: 360px;
	border-radius: 5px;
}

blockquote {
	margin-left: 1.7em;
	padding-left: 1em;
	border-left: 2px solid #e6e6e6;
	color: var(--grey);
}

code {
	font-family: var(--monospace);
	font-size: 0.85em;
}

pre {
	padding: 0.2em 0.5em;
	line-height: 1.3;
	overflow: auto;
	background-color: var(--black);
	color: var(--white);
	border-radius: 5px;
}

/* details/summary */
aside,
details {
	font-size: 0.9em;
}

.label {
	font-weight: bold;
	font-family: var(--sans-serif);
}

.spoiler {
	margin-left: 1em;
}

/* header */
header {
	background-color: var(--black);
	color: var(--white);
	padding: 5px 10px;
	display: flex;
}

header h1 {
	margin: 0;
	font-size: 1.5em;
}

header a {
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

/* footer */
footer {
	font-family: var(--sans-serif);
	text-align: center;
	font-size: 0.7em;
	color: var(--grey);
}

/* index */
input[type="text"] {
	margin: 20px auto;
	display: block;
	padding: 10px;
	width: 20em;
	border: 2px solid #e6e6e6;
	border-radius: 5px;
	font-size: 0.8em;
}

input[type="text"]:focus {
	outline: none;
	border-color: var(--red);
}

#posts {
	list-style: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

#posts li {
	width: 220px;
	margin: 10px;
	border-radius: 5px;
	background-color: #e6e6e6;
}

#posts li:hover {
	background-color: #e6e6e6;
}

#posts li a {
	display: block;
}

#posts li img {
	width: 100%;
	height: auto;
	object-fit: cover;
	aspect-ratio: 3/2;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#posts li p {
	text-align: center;
	margin: 0 10px 5px 10px;
	font-family: var(--sans-serif);
	font-weight: bold;
}

#posts a {
	text-decoration: none;
}

/* notice */
#notice {
	margin: 0 auto;
	margin-top: 20px;
	padding: 10px;
	background-color: var(--red);
	color: var(--white);
	font-family: var(--sans-serif);
	font-size: 0.8em;
	text-align: center;
	border-radius: 5px;
	width: fit-content;
}

@media screen and (max-width: 720px) {
	#posts li {
		width: 100%; /* Full width for smaller screens */
	}
}

