{{ define "main" }}
	<input type="text" id="searchInput" placeholder="Hledat">
	{{ with resources.Get "js/search.js" }}
		<script src="{{ .Permalink }}" type="text/javascript"></script>
	{{ end }}
	<ul id="postIndex">
		{{ range sort .Pages "Date" "desc" }}
		<li>
			<a href="{{ .Permalink }}">
				<img src="{{ .Permalink}}thumb.webp" alt="náhled">
					<p class="title">{{ .LinkTitle }}</p>
					{{ with .Keywords }}
						<p class="keywords">{{ delimit . ", " }}</p>
					{{ end }}
					{{ with .Description }}
						<p class="description">{{ . }}</p>
					{{ end }}
				</div>
			</a>
		</li>
		{{ end }}
	</ul>
{{ end }}
